.navbar {
    /* background-color: #6124c4; */
    background-color:#4d2e7a ;
    position: absolute !important;
    /* height:20vh; */
    margin-top:60px;
    

}
* { 
    font-family: Inter;
    
}
.bi-cart2,.bi-box-arrow-right,.bi-clipboard-data {
    color:rgba(255, 255, 255, 0.623);
}
 

.AddtoCart {
    
    position: relative;
    left:1200px;
    margin-bottom:5px;
    transform: scale(1.8) !important;
}
.Logout {
    
    position: relative;
    left:1360px;
    
    transform: scale(1.8) !important;
}
.vieworder {
    
    position: relative;
    left:1255px;
    
    transform: scale(1.8) !important;
}
/* body {
    background-color:#300f65 !important;
} */
.navbar a {
    color:white;
}
.navbar a:hover {
    color:rgb(40, 206, 123);
}
.dropdown-item{
    color:rgb(39, 39, 39) !important;
}
@media (min-width:1029px) {
  .navbar { 
     height:125px;
  }
  .navbar-nav {
    margin-left:15px;
} 
div #search {
    margin-left:25px;
}


}

@media (max-width:1000px) { /* Smaller devices*/
   div .logo {
    transform: scale(0.75);
    position: relative;
    left:-35px;
   }
   .AddtoCart {
    
    display:none;
}
.Logout {
   display:none;
}
}
.weblockmsg,.rninfo {
display:none;
}
/* .bi-cart {
    margin-left:50px;
    color:rgba(255, 255, 255, 0.76);
} */

/* .dropdown-item {
   display: none;
   
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
  } */
